 <!-- /.content-wrapper -->
 <footer class="main-footer">
    <strong
      >Copyright &copy; 2023
      <a href="#">Peyman raHmani</a>.</strong
    >
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge("uibutton", $.ui.button);
</script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="plugins/jquery-validation/jquery.validate.min.js"></script>
<script>
  $(function(){
    if($('#tbl_list_book').length>0){
    $('#tbl_list_book').DataTable();
     }
     if($('#tbl_list_users').length>0){
    $('#tbl_list_users').DataTable();
     }
     if($('#tbl_list_issue').length>0){
    $('#tbl_list_issue').DataTable();
     }
     if($('#tbl_list_returned_books').length>0){
    $('#tbl_list_returned_books').DataTable();
     }
     if($('#tbl_days-settings').length>0){
    $('#tbl_days-settings').DataTable();
     }
     if($('#frm-add-user').length>0){
        $('#frm-add-user').validate();
     }
     
  });
 
  $(document).ready(function ($) {
    let app_url="http://localhost:4000"
    $("#isuue-book-category").on("change",(e)=>{
      //e.target.value
         var category_id=e.target.value; 
         //console.log(category_id);
      let postData="cat_id="+category_id;

      $.post(app_url+"/admin/category-list-book",postData,(res)=>{
        let bookHtml= "<option value=''>select book</option>";
             res.books.forEach(element => {
              bookHtml +='<option value="'+element.id+'">'+element.name+'</option>';
             });
            $("#dd_book_lists").html(bookHtml);
      })

     });
    $('#frm-add-category').validate({
                rules: {
                  name: {
                    required: true,
                    name: true,
                  },
                },
                messages: {
                  name: {
                    required: "Please enter a name address",
                    name: "Please enter a vaild name address"
                  },
                },
            });
  });
     

</script>
</body>
</html>
